<a href="https://colab.research.google.com/github/park-yeonwoo/oz_12_back/blob/main/Ch21_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [2]:
def greet_user():
    name = input('이름 입력!')
    age = input('나이 입력!')
    print(f'안녕하세요{name}님! 당신은 {age}살입니다.')

greet_user()

이름 입력!김코딩
나이 입력!29
안녕하세요김코딩님! 당신은 29살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [4]:
def sum_numbers(num1, num2):
    print(num1 + num2)

sum_numbers(3, 15)

18

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [5]:
def print_name(name):
    print(f'사용자 이름: {name}')

print_name('익명')

사용자 이름: 익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [8]:
def print_info(name, age, gender):
    print(f'이름: {name}, 나이: {age}, 성별: {gender}')

print_info(name='김오즈',age='27',gender='여자')

이름: 김오즈, 나이: 27, 성별: 여자

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [10]:
def add(a:int, b:int):
    return a+b

add(5, 5)

10

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [11]:
def odd_numbers(n):
    for i in range(n + 1):
        if i % 2 == 1:
            yield i

gen = odd_numbers(10)

for num in gen:
    print(num)

1
3
5
7
9

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [17]:

sum_numbers = lambda x,y : x + y

list1 = [3]
list2 = [4]

result = map(sum_numbers,list1,list2)

print(list(result))

[7]

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [24]:
def min_max():
    a = int(input())
    b = int(input())
    c = int(input())

    num = (a, b, c)

    print(f'최소값:{min(num)}')
    print(f'최대값{max(num)}')


min_max()

3
5
7
최소값:3
최대값7

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [36]:
def is_even(n):
    if n % 2 == 0:
        return True
    return False

print(is_even(5))

False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

oz_factorial(n) = n * factorial(n-1)

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [40]:
def print_lengths():
    words = input('쉼표로 구분하여 단어들을 입력해주세요').split(',')

    for word in words:
        print(f"{word} → 길이: {len(word)}")

print_lengths()

쉼표로 구분하여 단어들을 입력해주세요사랑,그게,맞나봐
사랑 → 길이: 2
그게 → 길이: 2
맞나봐 → 길이: 3

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

// 답지 확인

In [43]:
def longer_string(str1, str2):
    if len(str1) >= len(str2):
        return str1
    else:
        return str2

# 사용 예시
print(longer_string("apple", "banana"))


# 코드 이해 완!

banana